/* For video content */
.video-comments-container {
  width: 65%;
  padding: 10px;
  word-wrap: break-word;
}

.conversation-container {
  width: 35%;
  padding: 10px;
  word-wrap: break-word;
}

.video-frame {
  margin-bottom: 20px;
  margin-top: 10px;
}

.time-passed {
  color: gray;
  font-size: 14px;
  margin-left: 10px;
}

.comments-section {
  margin-top: 10px;
}

.comment-input-group,
.reply-input-group {
  display: flex;
  align-items: center;
}

.comment-input,
.reply-input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
}

.comment-input:focus,
.reply-input:focus {
  border-bottom: 1px solid blue;
  box-shadow: none;
}

.add-comment-button,
.add-reply-button {
  margin-left: 10px;
  background-color: #ffb600;
  border: none;
}

.add-comment-button:hover,
.add-reply-button:hover {
  background-color: #eeb012;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
}

.comment-card,
.reply-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}

.comment-card-body,
.reply-card-body {
  display: flex;
  align-items: center;
}

.likes {
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.replies-section {
  margin-left: 20px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  align-items: center;
}

.reply-icon {
  cursor: pointer;
  margin-left: 10px;
}

.show-more-replies {
  cursor: pointer;
  color: blue;
  margin-left: 20px;
}

.show-more-conversations {
  text-align: center;
  margin-top: 20px;
}

/* For reading content */
.reading-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between each item */
  background-color: white;
}

.reading-container {
  display: block;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 25px;
  margin-top: 20px;
  word-break: break-all;
  /* word-wrap: break-word; 
  overflow-wrap: break-word; */
}

.uploaded-by {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
