.button-col {
  padding: 0;
  width: 30px; /* Adjust as needed */
}

.guestcourse-card {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.welcome-text {
  text-align: center;
  margin: 20px 0;
}

.guest-layout {
  margin-top: 20px;
}

.content-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.align-items-center {
  justify-content: center;
  padding: 5px;
}

/* .course-row {
  display: flex;
  flex-wrap: wrap;
  /* width: 790px; 
} */

.card-image {
  height: 100px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* @media screen and (max-width: 1920px) {
  .course-row {
    display: flex;
    /* width: calc(50% - 20px); 
  }
} */

@media screen and (max-width: 1050px) {
  .course-row {
    display: flex;
    /* flex-direction: column; */
  }

  .guestcourse-card {
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .course-row {
    flex-direction: column;
  }

  .guestcourse-card {
    flex-direction: column;
    width: 100%;
  }

  .guestcourse-card img {
    width: 100%;
  }
}
