/* ModulePopup.css */
.module-content {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 8px;
}

.module-title {
  font-size: 2em;
  font-weight: bold;
}

.module-description {
  font-size: 1.2em;
  margin-top: 20px;
}

.module-topics {
  list-style-type: none;
  padding: 0;
  font-size: 1.1em;
  text-align: left;
  margin-top: 20px;
}

.module-topics li {
  margin-bottom: 10px;
}

.next-button {
  margin-top: 30px;
  font-size: 1.2em;
  padding: 10px 20px;
}
