.review-container {
  align-items: center;
}

.stars {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.stars input {
  display: none; /* Hide the radio buttons */
}

.star {
  cursor: pointer;
  transition: color 200ms;
  margin: 0 5px;
}

.star:hover {
  color: #ffdf00;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  margin-top: 10px;
}
